<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
  <app-head-menu></app-head-menu>
  <app-menu></app-menu>
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-left mb-0">Gestion Pannes</h2>
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a>Pannes signaler</a></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div
          class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none"
        >
          <div class="form-group breadcrum-right">
            <div class="dropdown">
              <button
                class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="feather icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Chat</a
                ><a class="dropdown-item" href="#">Email</a
              ><a class="dropdown-item" href="#">Calendar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <div class="row">
          <div class="row">
            <div class="col-12">
              <p>
                Vous pouvez suivre l'avancement de vos pannes signaler via cette
                page.
              </p>
            </div>
          </div>
        </div>
        <!-- Column selectors with Export Options and print table -->
        <section id="column-selectors">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Pannes</h4>
                </div>
                <div class="card-content">
                  <div class="card-body card-dashboard">
                    <div class="table-responsive">
                      <table class="table zero-configuration" id="pannesTable">
                        <thead>
                        <tr>
                          <th>Id panne</th>
                          <th>Code barre</th>
                          <th>Type</th>
                          <th>Marque</th>
                          <th>Date d'Apparition</th>
                          <th>Etat</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let Panne of Pannes">
                          <td>{{ Panne?.id }}</td>
                          <td>
                            {{ getRessource(Panne.idRessource)?.codeBarre }}
                          </td>
                          <td>{{ getRessource(Panne.idRessource)?.type }}</td>
                          <td>{{ getRessource(Panne.idRessource)?.marque }}</td>
                          <td>{{ Panne?.dateApparition }}</td>
                          <td *ngIf="Panne?.isTreated">
                            <div class="chip chip-success">
                              <div class="chip-body">
                                <div class="chip-text">
                                  {{
                                  Panne?.isTreated ? "Traité" : "Non traité"
                                  }}
                                </div>
                              </div>
                            </div>
                          </td>
                          <td *ngIf="!Panne?.isTreated">
                            <div class="chip chip-danger">
                              <div class="chip-body">
                                <div class="chip-text">
                                  {{
                                  Panne?.isTreated ? "Treated" : "Not treated"
                                  }}
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                          <th>Id panne</th>
                          <th>Code barre</th>
                          <th>Type</th>
                          <th>Marque</th>
                          <th>Date d'Apparition</th>
                          <th>Etat</th>
                        </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>
</div>
