<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
  <app-head-menu></app-head-menu>
  <app-menu></app-menu>
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-left mb-0">Gestion Appels D'offre</h2>
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a>Appel d'offre</a>
                  </li>

                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
          <div class="form-group breadcrum-right">
            <div class="dropdown">
              <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                  class="feather icon-settings"></i></button>
              <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a
                  class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <div class="row">
          <div class="col-12">
            <p>Vous pouvez générer les appels d'offre des besoins disponibles via cette page</p>
          </div>
        </div>
        <!-- Column selectors with Export Options and print table -->

        <section id="column-selectors">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Liste des appels d'offre</h4>
                </div>
                <div class="card-content">
                  <div class="card-body card-dashboard">
                   
                    <div class="btn-group dropdown mr-1 mb-1">
                      <button type="button" (click)="handleCreerOffre()"
                        class="btn btn-primary waves-effect waves-light">
                        <i class="feather icon-plus"></i> Générer appel d'offre
                      </button>
                      <button type="button"
                        class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <div *ngIf="besoinsNotInAppelOffre.length > 0" class="form-check " style="min-width: 35vh;">
                          <input class="form-check-input ml-1" type="checkbox"
                            style="width: 15px; height: 15px;" [(ngModel)]="selectAll"
                            (change)="toogleSelectedAllBesoins()">
                          <label class="form-check-label ml-5">
                            <span> Tous les besoins</span>
                          </label>
                        </div>
                        <label *ngIf="besoinsNotInAppelOffre.length == 0" class="form-check-label px-3"
                          >
                          <span> Aucun besoin n'est publiée pour le moment</span>
                        </label>
                        <div *ngFor="let b of besoinsNotInAppelOffre" (click)="selectBesoin(b)">
                          <div class="form-check">
                            <input class="form-check-input ml-1 mt-1" type="checkbox"
                              style="width: 15px; height: 15px;" [(ngModel)]="b.isSelected"
                              (change)="toggleSelection()">
                            <label class="form-check-label ml-3" >
                              <a data-toggle="modal" data-target="#besoinsModal" class="dropdown-item">Besoin
                                {{b.id}} :
                                Date
                                Demande
                                {{b.dateDemande
                                |
                                date:'yyyy-MM-dd'}} : Date affectation : {{b.dateAffectation |
                                date:'yyyy-MM-dd'}} : ID membre departement:
                                {{getMembreDepartement(b.idMembreDepartement)?.nom}}
                                {{getMembreDepartement(b.idMembreDepartement)?.prenom}}
                              </a>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table zero-configuration" id="appelsOffreTable">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Besoins</th>
                            <th>Offres</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let appelOffre of appelsOffre">
                            <td>{{appelOffre.id}}</td>
                            <td *ngIf="!getDatePubAppelOffre(appelOffre)">
                              <div class="badge badge-pill badge-warning">Non publié</div>
                            </td>
                            <td *ngIf="getDatePubAppelOffre(appelOffre)">
                              {{getDatePubAppelOffre(appelOffre) | date}}</td>
                            <td *ngIf="!appelOffre.isAffected">
                              <div class="badge badge-pill badge-warning">Non traité</div>
                            </td>
                            <td *ngIf="appelOffre.isAffected">
                              <div class="badge badge-pill badge-success">Traité</div>
                            </td>
                            <td>

                              <div class="dropdown">
                                <a class="fa fa-list-ol"  data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false"></a>
                                <div class="dropdown-menu" aria-labelledby="userInfo" x-placement="bottom-start"
                                  style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                  <a *ngFor="let besoin of appelOffre.besoins" (click)="selectBesoin(besoin)"
                                    data-toggle="modal" data-target="#besoinsModal" class="dropdown-item">Besoin
                                    {{besoin.id}}</a>

                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="dropdown">
                                <a class="fa fa-list-ol"  data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false" (click)="getOffreOfAppel(appelOffre)"></a>
                                <div class="dropdown-menu" aria-labelledby="userInfo" x-placement="bottom-start"
                                  style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                  <p *ngIf=" offresOfAppel && offresOfAppel?.length == 0" disabled class="text-danger"
                                    style="min-width: 25vh;"><i class="feather icon-alert-circle"></i> Aucun offre n'a
                                    été
                                    publié</p>
                                  <p *ngIf="offresOfAppel && offresOfAppel!.length > 0">
                                    <a *ngFor="let offre of offresOfAppel" (click)="selectOffre(offre)"
                                      data-toggle="modal" data-target="#offresModal" class="dropdown-item">Offre
                                      {{offre.id}}</a>
                                  </p>
                                </div>
                              </div>
                            </td>
                            <td>
                              <a class="feather icon-more-vertical" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                              </a>
                              <div class="dropdown-menu">
                                <a *ngIf="!getDatePubAppelOffre(appelOffre)"
                                  (click)="handlePublierAppelOffre(appelOffre)" class="dropdown-item text-primary"><i
                                    class="feather icon-share-2"></i> Publier</a>
                                <!-- <a  *ngIf="getDatePubAppelOffre(appelOffre)" disabled class="dropdown-item text-primary"><i class="feather icon-share-2"></i> Vous ne pouvez pas supprimer un appel d'offre publié</a> -->
                                <p *ngIf="getDatePubAppelOffre(appelOffre)" disabled class="text-danger"><i
                                    class="feather icon-alert-circle"></i> Vous ne pouvez pas
                                  annuler un appel d'offre publié .</p>
                                <a *ngIf="!getDatePubAppelOffre(appelOffre)" data-toggle="modal"
                                  (click)="deleteModal(appelOffre)" data-target="#annulerModal"
                                  class="dropdown-item text-danger"><i class="feather icon-x"></i> Annuler</a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Besoins</th>
                            <th>Offre</th>
                            <th>Action</th>

                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Column selectors with Export Options and print table -->
      </div>
    </div>
  </div>
  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>


  <!-- Modals -->
  <div class="modal fade show " id="besoinsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Besoin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="list-group"  role="tablist">
            <a class="list-group-item list-group-item-action active"  data-toggle="list" role="tab"
              aria-controls="list-home">ID: {{selectedBesoin?.id}}</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
              aria-controls="list-profile">Date de demande : {{selectedBesoin?.dateDemande|
              date}}</a>
            <a class="list-group-item list-group-item-action" i data-toggle="list" role="tab"
              aria-controls="list-messages">Date affectation: {{selectedBesoin?.dateAffectation |
              date}}</a>
            <a class="list-group-item list-group-item-action"  data-toggle="list" role="tab"
              aria-controls="list-settings">Membre Departement :
              {{getMembreDepartement(selectedBesoin?.idMembreDepartement)?.nom | uppercase}}
              {{getMembreDepartement(selectedBesoin?.idMembreDepartement)?.prenom | uppercase}}</a>
          </div>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Ressources</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <div class="default-collapse collapse-bordered">
                  <div class="card collapse-header">
                    <div  class="card-header" data-toggle="collapse" role="button"
                      data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                      <span class="lead collapse-title">
                        {{getOrdinateurs().length}} Ordinateurs
                      </span>
                      <i class="feather icon-monitor text-primary font-medium-5"></i>
                    </div>
                    <div  role="tabpanel" aria-labelledby="headingCollapse1" class="collapse">
                      <div class="card-content">
                        <div class="card-body">
                          <ul class="activity-timeline timeline-left list-unstyled">
                            <li *ngFor="let ordi of getOrdinateurs()">
                              <div class="timeline-icon bg-primary">
                                <i class="feather icon-monitor font-medium-2"></i>
                              </div>
                              <div class="timeline-info">
                                <p class="list-group-item">CPU: {{ordi.cpu}} </p>
                                <p class="list-group-item">RAM: {{ordi.ram}}</p>
                                <p class="list-group-item">Disque Dur: {{ordi.disqueDur}}</p>
                                <p class="list-group-item">Ecran: {{ordi.ecran}}</p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="divider divider-primary">
                      <div class="divider-text"> <i class="feather icon-star"></i> </div>
                    </div>
                  </div>
                  <div class="card collapse-header">
                    <div id="headingCollapse2" class="card-header collapse-header collapsed" data-toggle="collapse"
                      role="button" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                      <span class="lead collapse-title">
                        {{getImprimantes().length}} Imprimantes
                      </span>
                      <i class="feather icon-printer text-warning font-medium-5"></i>
                    </div>
                    <div id="collapse2" role="tabpanel" aria-labelledby="headingCollapse2" class="collapse"
                      aria-expanded="false">
                      <div class="card-content">
                        <div class="card-body">
                          <ul class="activity-timeline timeline-left list-unstyled">
                            <li *ngFor="let impr of getImprimantes()">
                              <div class="timeline-icon bg-warning">
                                <i class="feather icon-printer font-medium-2"></i>
                              </div>
                              <div class="timeline-info">
                                <p class="list-group-item">CPU: {{impr.resolution}} </p>
                                <p class="list-group-item">RAM: {{impr.vitesseImpression}}</p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div *ngIf="getOrdinateurs().length!=0" class="card">
          <div class="card-header d-flex align-items-start pb-0">
            <div>
              <h2 class="text-bold-700">{{getOrdinateurs().length}}</h2>
              <p class="mb-0">Ordinateurs</p>
            </div>
            <div class="avatar bg-rgba-primary p-50">
              <div class="avatar-content">
                <i class="feather icon-monitor text-primary font-medium-5"></i>
              </div>
            </div>
          </div>
          <div class="card-content" style="position: relative;">
            <ul *ngFor="let ordi of getOrdinateurs()" class="list-group">
              <li class="list-group-item">CPU: {{ordi.cpu}} </li>
              <li class="list-group-item">RAM: {{ordi.ram}}</li>
              <li class="list-group-item">Disque Dur: {{ordi.disqueDur}}</li>
              <li class="list-group-item">Ecran: {{ordi.ecran}}</li>
            </ul>
          </div>
        </div>
        <div *ngIf="getImprimantes().length!=0" class="card">
          <div class="card-header d-flex align-items-start pb-0">
            <div >
              <h2 class="text-bold-700">{{getImprimantes().length}}</h2>
              <p class="mb-0">Imprimantes</p>
            </div>
            <div class="avatar bg-rgba-warning p-50 m-0">
              <div class="avatar-content">
                <i class="feather icon-printer text-warning font-medium-5"></i>
              </div>
            </div>
          </div>
          <div class="card-content" style="position: relative;">
            <ul *ngFor="let impr of getImprimantes()" class="list-group">
              <li class="list-group-item">CPU: {{impr.resolution}} </li>
              <li class="list-group-item">RAM: {{impr.vitesseImpression}}</li>

            </ul>
          </div>
        </div> -->
        </div>
      </div>
    </div>
  </div>



  <!-- AnnulerModal   -->
  <div class="modal fade text-left" id="annulerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel120"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header bg-danger white">
          <h5 class="modal-title" id="myModalLabel120">Confirmation d'annulation d'appel d'offre</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Etes vous vraimant voulez supprimer cet appel d'offre
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect waves-light mr-1" data-dismiss="modal"
            (click)="handleAnnulerAppelOffre(deletedAppelOffre)">Confirmer</button>
          <button type="button" class="btn btn-light waves-effect waves-light mr-1"
            data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>


  <!-- OffreModal -->



  <div class="modal fade " id="offresModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
    style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button *ngIf="selecedtOffre?.isAffected==false && selecedtOffre?.isRejected==false" data-dismiss="modal"
            type="button" (click)="accepterOffre(selecedtOffre)"
            class="btn btn-outline-primary mr-1 mb-1 waves-effect waves-light">Accepter offre</button>
          <button *ngIf="selecedtOffre?.isAffected==true" type="button" data-dismiss="modal"
            class="btn btn-success mr-1 mb-1 waves-effect waves-light">Offre accepté</button>
          <button *ngIf="selecedtOffre?.isRejected==true" type="button" data-dismiss="modal"
            class="btn btn-danger mr-1 mb-1 waves-effect waves-light">Offre rejetée</button>
          <button type="button" (click)="blackListOpened = true"
            class="btn btn-danger mr-1 mb-1 waves-effect waves-light">Bannir fournisseur</button>
          <form class="row ml-1" #motifForm="ngForm" *ngIf="blackListOpened">
            <input ngModel name="motif" class="form-control col-sm-8" placeholder="motif">
            <button class="feather icon-check text-success col-sm-2 border-0" data-dismiss="modal"
              (click)="blackListFournisseur(motifForm.value.motif)"></button>
            <button class="feather icon-x text-danger col-sm-2 border-0" (click)="blackListOpened = false"></button>
          </form>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>

        </div>
        <div class="modal-body" style="overflow-y: scroll; height: 500px;">
          <div class="list-group"  role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" role="tab"
              aria-controls="list-home">ID: {{ selecedtOffre?.id }}</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" role="tab"
              aria-controls="list-profile">Date de debut :
              {{ selecedtOffre?.dateDebut | date }}</a>
            <a class="list-group-item list-group-item-action" i data-toggle="list" role="tab"
              aria-controls="list-messages">Date fin: {{ selecedtOffre?.dateFin | date }}</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" role="tab"
              aria-controls="list-settings">ID fournisseur : {{ selecedtOffre?.idFournisseur }}</a>
          </div>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Ressources</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <div class="default-collapse collapse-bordered">
                  <div class="card collapse-header">
                    <div id="headingCollapse1" class="card-header" data-toggle="collapse" role="button"
                      data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                      <span class="lead collapse-title">
                        {{selecedtOffre?.ressources?.length}} Ressources proposées
                      </span>
                      <i class="feather icon-monitor text-primary font-medium-5"></i>
                    </div>
                    <div id="collapse1" role="tabpanel" aria-labelledby="headingCollapse1" class="collapse">
                      <div class="card-content">
                        <div class="card-body">
                          <ul class="activity-timeline timeline-left list-unstyled">
                            <li *ngFor="let r of selecedtOffre?.ressources">
                              <div class="timeline-icon bg-primary">
                                <i class="feather icon-monitor font-medium-2"></i>
                              </div>
                              <div class="timeline-info">
                                <p class="list-group-item">ID: {{r.id}} </p>
                                <p class="list-group-item">Marque: {{r.marque}}</p>
                                <p class="list-group-item">Prix Dur: {{r.prix}}</p>
                                <p class="list-group-item">ID ressource concernée: {{r.idRessource}}</p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
