<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
  <app-head-menu></app-head-menu>
  <app-menu></app-menu>
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-left mb-0">Gestion Besoins</h2>
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a>Besoins</a>
                  </li>
                  <li class="breadcrumb-item active">Exprimé besoins
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body" *ngIf="besoinState$ | async">
        <div class="row">
          <div class="col-12">
            <p>Vous pouvez gérer les departements de votre etablissement via cette page</p>
          </div>
        </div>

        <div class="dt-buttons btn-group mb-2 row justify-content-between" style="width: 100%;">
          <div class="col-3"><button class="btn btn-outline-primary" (click)="openAddBesoin = true"><span><i
                  class="feather icon-plus"></i> Ajouter besoin</span></button></div>
          <div class="col-2"><button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal"
              data-target="#confirmBesoins"><i class="feather icon-save"></i> Save</button></div>
        </div>
        <div class="row" *ngIf="openAddBesoin">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Ajouter un besoin</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <form class="form-horizontal" #ressourceToAdd="ngForm"
                    (ngSubmit)="handleAddRessourceToBesoin(ressourceToAdd)">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <div class="form-label-group">
                            Type de ressource
                            <select [value]="type" (change)="chooseRessource($event)" class="form-control"
                              id="typeDeRess">
                              <option value="" selected>Choose...</option>
                              <option value="Ordinateur">Ordinateur</option>
                              <option value="Imprimante">Imprimante</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" id="forTypeOrdinateur" *ngIf="type == 'Ordinateur'">
                      <div class="col-sm-6">
                        <div class="form-group">
                          CPU
                          <select ngModel="choose" name="cpu" class="form-control">
                            <option selected value="choose">Choose...</option>
                            <option *ngFor="let cpu of cpus" value="{{ cpu }}">{{ cpu }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          RAM
                          <select ngModel="choose" name="ram" class="form-control">
                            <option selected value="choose">Choose...</option>
                            <option *ngFor="let ram of rams" value="{{ ram }}">{{ ram }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          Ecran
                          <select ngModel="choose" name="ecran" class="form-control">
                            <option selected value="choose">Choose...</option>
                            <option *ngFor="let e of ecran" value="{{ e }}">{{ e }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          Disque Dur
                          <select ngModel="choose" name="disqueDur" class="form-control">
                            <option selected value="choose">Choose...</option>
                            <option *ngFor="let disque of disques" value="{{ disque }}">{{ disque }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row" id="forTypeImprimante" *ngIf="type == 'Imprimante'">
                      <div class="col-sm-6">
                        <div class="form-group">
                          Resolution
                          <select ngModel="choose" name="resolution" class="form-control">
                            <option selected value="choose">Choose...</option>
                            <option *ngFor="let resolution of resolutionimp" value="{{ resolution }}">{{ resolution }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          Vitesse Impression
                          <select ngModel="choose" name="vitesseimpression" class="form-control">
                            <option selected value="choose">Choose...</option>
                            <option *ngFor="let v of vitesseimp" value="{{ v }}">{{ v }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">Ajouter</button>
                    <button class="btn btn-light waves-effect waves-light mr-1"
                      (click)="handleCloseAddBesoin()">Fermer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column selectors with Export Options and print table -->
        <section id="statistics-card" *ngIf="besoin$ | async as result">
          <div class="row">
            <section id="anchors-n-buttons container" style="width: 100%;">
              <div class="row match-height">
                <div class="col-lg-6 col-md-12">
                  <div class="card h-auto">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="list-group">
                          <button type="button" class="list-group-item list-group-item-action active">
                            Ordinateurs
                          </button>
                          <div class="card border-bottom" *ngFor="let ord of result.ordinateurs">
                            <div class="card-header d-flex align-items-start pb-0">
                              <div class="row" style="width: 100%;">
                                <div class="avatar-content col-1">
                                  <i class="feather icon-monitor text-primary font-medium-5"></i>
                                </div>
                                <div class="col-10">
                                  <p><strong>RAM</strong>({{ ord.ram }}) <strong>CPU</strong>({{ ord.cpu }})
                                    <strong>Ecran</strong>({{ ord.ecran }}) <strong>Disque dur</strong>({{ ord.disqueDur
                                    }})
                                  </p>
                                </div>
                                <a class="text-danger col-1" (click)="handleRemoveBesoin('Ordinateur', ord)"><i
                                    class="feather icon-trash"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="card h-auto">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="list-group">
                          <button type="button" class="list-group-item list-group-item-action active">
                            Imprimantes
                          </button>
                          <div class="card border-bottom" *ngFor="let imp of result.imprimantes">
                            <div class="card-header d-flex align-items-start pb-0">
                              <div class="row" style="width: 100%;">
                                <div class="avatar-content col-1">
                                  <i class="feather icon-printer text-primary font-medium-5"></i>
                                </div>
                                <div class="col-10">
                                  <p><strong>Resolution</strong>({{ imp.resolution }}) <strong>Vitesse
                                      d'impression</strong>({{ imp.vitesseImpression }})</p>
                                </div>
                                <a class="text-danger col-1" (click)="handleRemoveBesoin('Imprimante', imp)"><i
                                    class="feather icon-trash"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="col-lg-12 col-sm-8 col-6">

            </div>
          </div>
        </section>

        <!-- Column selectors with Export Options and print table -->
      </div>
    </div>
  </div>

  <div class="modal fade text-left" id="confirmBesoins" tabindex="-1" role="dialog" aria-labelledby="myModalLabel120"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header bg-success white">
          <h5 class="modal-title" id="myModalLabel120">Confirmer les besoins</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Vous voullez confirmer les besoins exprimé ?
        </div>
        <div class="modal-footer">
          <button type="button" (click)="handleSaveBesoins()" class="btn btn-success waves-effect waves-light mr-1"
            data-dismiss="modal">Confirmer</button>
          <button type="button" class="btn btn-light waves-effect waves-light mr-1"
            data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>
</div>