.success {
    background-color: #28c76f;
    width: 40vh;
  }
  
  .info {
    background-color: #00cfe8;
    width: 40vh;

  }
  
  .warning {
    background-color: #ff9f43;
    width: 40vh;

  }
  
  .error {
    background-color: #ea5455;
    width: 40vh;

  }